<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/login.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</head>

<body>
  
    <h1 style="text-align:center; color:white;">DAT Tool</h1>
    <div class="container">
      <h3 style="text-align:center">Change Password</h3>
      <p class="error error--hidden">
        {% if error %}
      <h5 style="color:red"> {{ error }}</h5>
      {% endif %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <h5 style="color:red">{{ message }}</h5></br>
      {% endfor %}
      {% endif %}
      {% endwith %}

      </p>
      <form id="changePassword" name="changePassword" method="post" action="/user/changePassword">
      <input type="hidden" name="email" id="email" value="{{data.email}}" >
      <input type="hidden" name="code" id="code" value="{{data.code}}">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      <label id="psw-error" class="error" for="psw"></label>
      </br>
      <label for="psw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter confirm password" name="cpsw" id="cpsw" required>

      <button type="submit" class="registerbtn">Submit</button>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>
  </form>
</body>

</html>

<script>
  $(document).ready(function () {
    var addUserForm = $("#changePassword");
    $.validator.addMethod("pwCheck", function (value, element) {
      return this.optional(element) || /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!#%*?&]).{8,}/.test(value)
    }, "");
    var validator = addUserForm.validate({
      rules: {
        psw: {
          required: true,
          pwCheck: true
        },
        cpsw: { required: true, equalTo: "#psw" }
      },
      messages: {
        psw: {
          required: "Password is required",
          pwCheck: "Password must contain at least 8 characters, atmost 18 characters,  including uppercase, lowercase letters, numbers and special characters @$!#%*?&"
        },
        cpsw: { required: "Confim password is required", equalTo: "Please enter same password" }
      }
    });
  });
</script>