<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<form id="login" name="login" method="post" action = "/">
  <h1 style="text-align:center; color:white;">GRIR Tool</h1>
  <div class="container">
    <h3 style="text-align:center">Login</h3>
    <p class="error error--hidden">
        {% if error %}
           <h5 style="color:red"> {{ error }}</h5>
        {% endif %}
        {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
               <h5 style="color:red">{{ message }}</h5></br>
               {% endfor %}
         {% endif %}
      {% endwith %}

    </p>
    <label for="username"><b>User ID</b></label>
    <input type="text" placeholder="Enter email" name="username" id="username" autocomplete="off" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <button type="submit" class="registerbtn">Login</button>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p> <a href="/user/signup">Sign up</a></p>
    <p> <a href="/user/forgotPassword">Forgot password</a></p>
  </div>
</form>

</body>
</html>
