{% extends "base.html"%}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:10px">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change password</h5>

                    <h1 style="text-align:center; color:white;"></h1>
                    <div class="container">
                        <p class="error error--hidden">
                            {% if error %}
                        <h5 style="color:red"> {{ error }}</h5>
                        {% endif %}
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <h5 style="color:red">{{ message }}</h5></br>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        </p>
                        <form id="changePsw" name="changePsw" method="POST" action="/user/profilePassword">
                            <input type="password" placeholder="Enter Old password" name="oldPsw" id="oldPsw" required>
                            </br></br>
                            <input type="password" placeholder="Enter New password" name="psw" id="psw" required>
                            </br></br>
                            <input type="password" placeholder="Enter Confirm password" name="cpsw" id="cpsw" required>
                            </br></br>
                            <input type="submit" name="submit" value="Submit" class="registerbtn">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
      var addUserForm = $("#changePsw");
      $.validator.addMethod("pwCheck", function (value, element) {
        return this.optional(element) || /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!#%*?&]).{8,}/.test(value)
      }, "");
      var validator = addUserForm.validate({
        rules: {
          oldPsw:{required: true},
          psw: {
            required: true,
            pwCheck: true
          },
          cpsw: { required: true, equalTo: "#psw" }
        },
        messages: {
          oldPsw:{required: "Old password is required"},
          psw: {
            required: "Password is required",
            pwCheck: "Password must contain at least 8 characters, atmost 18 characters,  including uppercase, lowercase letters, numbers and special characters @$!#%*?&"
          },
          cpsw: { required: "Confim password is required", equalTo: "Confirm Password does not match with the New Password" }
        }
      });
    });
  </script>

{% endblock %}